body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica,
    "Apple SD Gothic Neo", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  margin: 85px 0 35px;
}

.logo a {
  text-decoration: none;
  color: #03c75a;
  font-size: 43px;
  font-weight: 800;
}

.border {
  border: 1px solid #c6c6c6;
  border-top: none;
  border-radius: 10px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.button-wrapper img {
  width: 21px;
  margin-right: 8px;
}

.button-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  width: 155px;
  height: 50px;
  box-sizing: border-box;
}

#bt1 {
  border-right: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#bt2,
#bt3 {
  background-color: #f8f9fa;
  color: #777777;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #c6c6c6;
}

#bt2 {
  border-top-right-radius: 0;
}

#bt3 {
  border-left: 1px solid #e3e3e3;
  border-top-right-radius: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  border-radius: 10px;
}

.login-form input {
  border: 1px solid #dadada;
  width: 420px;
  height: 45px;
}

#login-btn {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #09aa5c;
  appearance: none;
  height: 50px;
  border: 1px solid #08914e;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: 900;
}

.login-form input::placeholder {
  font-size: 16px;
  padding-left: 15px;
}

#typeid {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#typepw {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toggle-wrapper {
  display: flex;
  flex-direction: row;
}

.toggle-wrapper input {
  appearance: none;
  width: 19px;
  height: 19px;
  margin-top: 12px;
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-wrapper input:checked {
  background-color: #09aa5c;
}

.toggle-wrapper label {
  margin-top: 12px;
  margin-left: 3px;
  font-size: 14px;
  color: #777777;
}

#keep-login {
  margin-left: 0;
}

#ip-check {
  margin-left: 225px;
}
