body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica,
    "Apple SD Gothic Neo", sans-serif;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  position: relative; /* 새로운 스타일 추가 */
}

.select-lang {
  width: 94px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  position: absolute; /* 새로운 스타일 추가 */
  margin-top: 25px;
  right: 400px;
}

.select-lang select {
  display: inline-block;
  width: 50px;
  border: none;
  border-radius: 0px; /* 둥근 모서리를 만들기 위한 반지름 */
  font-size: 16px; /* 글꼴 크기 */
  appearance: none;
  outline: none;
  box-sizing: border-box;
  font-size: 12px;
  color: #333;
}

.select-lang img {
  padding-left: 10px;
}

.logo {
  text-decoration: none;
  color: #03c75a;
  font-size: 43px;
  font-weight: 800;
  margin-bottom: 48px;
  margin-top: 108px;
  display: inline-block;
  line-height: 1;
}

.border {
  width: 458px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.button-wrapper {
  height: 61px;
  width: 458px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #e3e3e3;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.button-wrapper div {
  box-sizing: border-box;
  width: 153px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper div:nth-child(1) {
  border-top: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.button-wrapper div:nth-child(2) {
}

.button-wrapper div:nth-child(3) {
  border-left: 1px solid #e3e3e3;
  border-top-right-radius: 6px;
}

.button-wrapper div:not(:first-child) {
  background-color: #f8f9fa;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #c6c6c6;
}

.button-wrapper p {
  margin: 0;
}

.login-form {
  box-sizing: border-box;
  padding: 20px 24px;
  border: 1px solid #c6c6c6;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.idpw {
  box-sizing: border-box;
  width: 410px;
  padding: 14px 17px 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadada;
}

.login-form div:nth-child(1) {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.login-form div:nth-child(2) {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.idpw input {
  flex: auto;
  padding-left: 6px;
  appearance: none;
  border: none;
  outline: none;
  font-size: 16px;
}

.login-form div:focus-within {
  border-color: #03c75a;
}

.keep {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.keep-login {
  display: flex;
  flex-direction: row;
}

.keep-login input {
  margin: 0;
  appearance: none;
  outline: none;
  width: 18px;
  height: 18px;
  border: 1px solid #9fa5a7;
  border-radius: 50%;
  cursor: pointer;
}

.keep-login input:checked {
  background-color: #09aa5c;
  border-color: #09aa5c;
}

.keep-login p {
  font-size: 14px;
  color: #777777;
  margin: 0;
  padding-left: 5px;
}

.keep-ip {
  display: flex;
  flex-direction: row;
}

.keep-ip input {
  margin: 0;
  appearance: none;
  outline: none;
  width: 18px;
  height: 18px;
  border: 1px solid #9fa5a7;
  border-radius: 50%;
  cursor: pointer;
}

.keep-ip input:checked {
  background-color: #09aa5c;
  border-color: #09aa5c;
}

.keep-ip p {
  font-size: 14px;
  color: #777777;
  margin: 0;
  padding-right: 5px;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
  border: 1px solid #08914e;
  border-radius: 6px;
  background-color: #09aa5c;
}

.login-btn p {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin: 13px 0;
}
