body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica,
    "Apple SD Gothic Neo", sans-serif;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #03c75a;
  font-size: 43px;
  font-weight: 800;
  margin-bottom: 48px; /* 여기에 올바른 속성을 추가해야 합니다 (예: margin-bottom) */
  display: inline-block;
  line-height: 1;
}

.border {
  /* width: 458px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
}

.button-wrapper {
  height: 61px;
  width: 458px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.button-wrapper div {
  width: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.button-wrapper p {
  margin: 0;
}

.login-form {
  margin: 20px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form div {
  box-sizing: border-box;
  width: 410px;
  padding: 14px 17px 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadada;
}

.login-form div:nth-child(1) {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.login-form div:nth-child(2) {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.login-form input {
  width: 350px;
  padding-left: 6px;
  appearance: none;
  border: none;
  outline: none;
  font-size: 16px;
}

.login-form div:focus-within {
  border-color: #03c75a;
}

.login-form input:focus-within {
  border: none;
}
