body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica,
    "Apple SD Gothic Neo", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  margin: 85px 0 35px;
}

.logo a {
  text-decoration: none;
  color: #03c75a;
  font-size: 43px;
  font-weight: 800;
}

.border {
  border: 1px solid #c6c6c6;
  border-top: none;
  border-radius: 10px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.button-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  width: 155px;
  height: 50px;
  box-sizing: border-box; /* Ensure padding and border are included in width/height */
}

#bt1 {
  border-right: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#bt2,
#bt3 {
  background-color: #f8f9fa;
  color: #777777;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #c6c6c6;
}

#bt2 {
  border-top-right-radius: 0;
}

#bt3 {
  border-left: 1px solid #e3e3e3;
  border-top-right-radius: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  border-radius: 10px;
}

.login-form input {
  border: 1px solid #dadada;
  width: 420px;
  height: 45px;
}

.login-form input::placeholder {
  font-size: 16px;
  padding-left: 15px;
}

#typeid {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#typepw {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.toggle-wrapper {
  display: flex;
  input {
    margin-left: 25px;
    margin-top: 15px;
  }
}
